GROQ_API_KEY=your_groq_api_key_here
WAREHOUSE_DB_URL=postgresql+asyncpg://user:password@warehouse-db:5432/warehousedb
SOURCE_DB_URL=postgresql+asyncpg://user:password@source-db:5432/sourcedb
ENVIRONMENT=development
MOCK_AI=False
